
/* This is logo in the login box */
.login-ui .login-dialog .logo {
	width: 250px;
	height: 100px;
	background-size: auto;
	-webkit-background-size: auto;
    background-image: url('app/ext/guac-customize/web/images/logo.png');
    background-repeat: none;
}

/* Modifications to the login box */

.login-ui .login-fields .labeled-field input:focus {
    background: #999999;
}

.login-ui div.login-dialog {
    background: transparent;
    border: none;
    box-shadow: none;
}

/* This is the background for the entire page */
div.login-ui {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('app/ext/guac-customize/web/images/background.png');
}

.login-ui .login-fields .labeled-field {
    z-index: 0;
}

/* Fixes the font size so the welcome text fits on one line*/
.login-ui .login-dialog .version {
    display: none;    
}

/* This removes the Guacamole {Version} from the login box
.version.ng-binding {
    display: none;
}
*/
